
.HolyGrailWrapper {
  display:flex;
  flex-direction: column;
  border: 3px dashed green;
}

.Header, .Footer {
  border: 3px solid blue;
  text-align: center;
  background-color: gray;
}

.Header {
  flex: 1 1 auto;
}

.ColumnWrapper {
  display: flex;
  flex-direction: row;
  border: 3px dashed gold;
}

.Left, .Center, .Right {
  border: 3px hotpink solid;
}

.Left, .Right {
  flex: 0 0 20%;
}

.Center {
  flex: 1 1 auto;
}
