@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embeedded-opentype'),
      url('fonts/LAKESHOR-webfont.woff') format('woff'),
      url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
      url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'airstreamregular';
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Airstream-webfont.woff') format('woff'),
       url('fonts/Airstream-webfont.ttf') format('truetype'),
       url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  background-color: tan;
}

h1.title {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: lakeshore;
  text-align: center;
  background-color: SkyBlue;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.otter-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.otter-list-item {
  min-width: 120px;
  max-width: 120px;
  display: inline-block;
}

.otter-list-item img {
  width: 120px;
}
.otter-list-item span {
  background-color: pink;
  color: white;
  font-weight: bold;

  display: block;
  margin: 0px 0px;
  padding: 4px 10px;
}
